In [7]:
orders = [['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]

for each in orders:
    if each[0] == "cherry":
        each[1] = 10
        print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apple', 20]]

In [5]:
orders = [['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
orders.append(["apple",15])
print(orders)

total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
        print(total)
        print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grapes', 9], ['apple', 20], ['apple', 15]]
[10]
10
[10, 20]
30
[10, 20, 15]
45

In [9]:
tup1 = (4,10,9,"A",9.81,False,9-6j)
print(tup1)
print(type(tup1))

(4, 10, 9, 'A', 9.81, False, (9-6j))
<class 'tuple'>

In [17]:
scores = {'virat': 90,'Hitman': 100,'thala': 99,'Rahul': 70,'ishan': 50,'jassie': 23,'pant': 61,'ashwin': 15}

In [23]:
scores = {'virat': 90,'Hitman': 100,'thala': 99,'Rahul': 70,'ishan': 50,'jassie': 23,'pant': 61,'ashwin': 15}

scores.update({"viart":0})
scores

{'virat': 90,
 'Hitman': 100,
 'thala': 99,
 'Rahul': 70,
 'ishan': 50,
 'jassie': 23,
 'pant': 61,
 'ashwin': 15}

{'virat': 90,
 'Hitman': 100,
 'thala': 99,
 'Rahul': 70,
 'ishan': 50,
 'jassie': 23,
 'pant': 61,
 'ashwin': 15}

In [25]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
    print(scores_list)
    print("Total Score: ", sum(scores_list))

[90]
Total Score:  90
[90, 100]
Total Score:  190
[90, 100, 99]
Total Score:  289
[90, 100, 99, 70]
Total Score:  359
[90, 100, 99, 70, 50]
Total Score:  409
[90, 100, 99, 70, 50, 23]
Total Score:  432
[90, 100, 99, 70, 50, 23, 61]
Total Score:  493
[90, 100, 99, 70, 50, 23, 61, 15]
Total Score:  508
[90, 100, 99, 70, 50, 23, 61, 15, 0]
Total Score:  508

In [1]:
list1 = [1, 8, 9, 10, 20, 78, 8, 8, 8]
s2 = set(list1)
print(s2)
print(type(s2))

{1, 8, 9, 10, 78, 20}
<class 'set'>

In [5]:
#intersection
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s1 & s2

{4}

In [7]:
#diffrence of two sets
s1 = {1,2,3,4,5,6}
s2 = {1,3,5}
s1 - s2

{2, 4, 6}

In [9]:
s1 = {1,2,3,4,5,6}
s2 = {1,3,5}
s2 - s1

set()

In [23]:
#symmetric diffrence
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.symmetric_differece(s2)

AttributeError: 'set' object has no attribute 'symmetric_differece'

In [17]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s2.issubset(s1)

True

In [19]:
str1 = "Welcome to ds class"
print(str1)
str2 = 'we started with python'
print(str2)
str3 = '''This class is so intresting'''
print(str3)

Welcome to ds class
we started with python
This class is so intresting

In [25]:
 #slicing
print(str1)
str1[5:10]

Welcome to ds class

'me to'

In [33]:
print(str1)
str1.split()

Welcome to ds class

['Welcome', 'to', 'ds', 'class']

In [35]:
#use of join() method
reviews = ["The product is awesome","Great Service"]
joined_string = ';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [37]:
#use of strip() method
str5 = "       hello, how are you doing?"
str5.upper()

'       HELLO, HOW ARE YOU DOING?'